<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <title>login</title>
  </head>
  <h1 class="text-uppercase text-center mb-5">Login</h1>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <form action="login" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input
              name="username"
              type="text"
              class="form-control d-flex justify-content-center"
              id="exampleInputUsername"
              placeholder="Username"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputpassword">password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="exampleInputpassword"
              placeholder="password"
            />
          </div>
          <button type="submit" class="btn btn-primary">login</button>
        </form>
        <div>
            {% for message in messages %} 
            {{messages}} 
            {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
